<div class="header-content">
    <div class="row">
        <div class="col-sm-7">
            <div class="content aligned-center">
                <span>
                    <h1 class="big-text">Hi, I'm Shivam!</h1>
                    <hr>
                    <br>
                    <p>I am a Designer & Actor based in Charleston, SC passionate about inclusive and creative solutions.</p>
                    <br>
                    <button class="btn round-btn" routerLink="About">Contact Me</button>
                </span>
            </div>
        </div>
        <div class="col-sm-5">
            <img src="../assets/shivamImage.svg"/>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <h4>Case Studies</h4>
        <hr class="content-underline">
    </div>
</div>
<div class="row align-items-center pad-after">
    <div class="col-sm-6">
        <div class="content aligned-vertical">
            <span>
                <h1>Two Wolves Collaborative</h1>
                <p class="small-text">UX Audit &#x2022; Freelance</p>
                <br>
                <p>Redesigning a local therapist’s site to help people find the right mental health care for them.</p>
                <br>
                <a href="#" class="small-text">View Case Study >></a>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="../assets/twoWolves.png"/>
    </div>
</div>
<div class="row align-items-center pad-after">
    <div class="col-sm-6">
        <div class="content aligned-vertical">
            <span>
                <h1>Calltime</h1>
                <p class="small-text">UX Research/Design &#x2022; Google UX Design Course</p>
                <br>
                <p>Designing a social media experience to help creatives expand their network and search for job opportunities.</p>
                <br>
                <a href="#" class="small-text">View Case Study >></a>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="../assets/twoWolves.png"/>
    </div>
</div>
<div class="row align-items-center pad-after">
    <div class="col-sm-6">
        <div class="content aligned-vertical">
            <span>
                <h1>Nature's Trust</h1>
                <p class="small-text">UX Research/Design &#x2022; Google UX Design Course</p>
                <br>
                <p>A social good design concept to help prevent Human-Elephant Conflict in Kenya.</p>
                <br>
                <a href="#" class="small-text">View Case Study >></a>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        <img src="../assets/twoWolves.png"/>
    </div>
</div>
